@using Gut_Cleanse.Model
@model IEnumerable<Gut_Cleanse.Model.ProgramModel>
@{
    var selectedProgram = Model.FirstOrDefault(x => x.Id == 4);
}
<style>

    .btn-process {
        font-size: 10px;
        float: right;
    }

    .programNameLength {
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 1; /* number of lines to show */
        line-clamp: 1;
        -webkit-box-orient: vertical;
    }


    .programDescriptionLength1 p {
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 3; /* number of lines to show */
        line-clamp: 3;
        -webkit-box-orient: vertical;
    }

    .programDescrinLength {
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 6; /* number of lines to show */
        line-clamp: 6;
        -webkit-box-orient: vertical;
    }

    .programDesconName {
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 4; /* number of lines to show */
        line-clamp: 4;
        -webkit-box-orient: vertical;
    }

        .programDesconName h4 {
            overflow: hidden;
            display: -webkit-box;
            -webkit-line-clamp: 1; /* number of lines to show */
            line-clamp: 1;
            -webkit-box-orient: vertical;
        }
    /* .startDate{
                        height: 36px;
                    }
                    .endDate{
                        height: 36px;
                    } */
</style>
<div>
    <div class="entry-banner entry-banner-after  bg-common bgservices ">
        <div class="inner-page-banner breadcrumbs-off">
            <div class="container">
                <div class="entry-banner-content breadcrumbs-area">
                    <h1>Programs</h1>
                </div>
            </div>
        </div>
    </div>
    <section class="about-area pt-100 pb-100" id="aboutus">
        <div class="container">
            <div class="row  ">
                <div class="col-xl-6 col-lg-6">
                    <div class="about-left pos-rel mb-30 aos-init" data-aos="fade-up">
                        <div class="about-author d-flex align-items-center">
                            <div class="about-author-Image mt-2">
                                <img alt="aboutus" loading="lazy" width="0" height="0"
                                     decoding="async" data-nimg="1" sizes="100vw"
                                     src="~/Assets/GKS_3579.jpg"
                                     style="color: transparent; width: auto; height: auto;">
                                <div class="circle-Image"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-6 col-lg-6 pb-10">
                    <div class="mb-30 aos-init" data-aos="fade-right">
                        <div class="section-title-2">
                            <h2>Restore Your Digestive Balance, Reclaim Your Vitality</h2>
                        </div>
                        <div class="about-text  ">
                            <p class="mb-5">
                                At Gut Cleanse, we understand that vibrant health begins in your digestive
                                system. Since 2015, our team of digestive wellness experts has helped thousands of
                                people transform their lives through our science-backed, personalized gut health
                                programs. We don't just mask symptoms – we dig deep to restore your microbiome balance
                                and optimize your digestive function naturally. Drawing from both modern nutritional
                                science and time-tested healing traditions, our gentle yet effective gut cleanse
                                approach helps you overcome bloating, fatigue, and digestive discomfort while boosting
                                your energy and overall wellbeing. Through our signature E.R.R.O.R. Method, we've guided
                                busy professionals, parents, and health-conscious individuals to rediscover the joy of
                                eating without fear or discomfort. Whether you're struggling with occasional digestive
                                issues or looking to enhance your gut health, we're here to support you with practical
                                solutions that fit your lifestyle.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="fancybox-layout1 bg-overlay-primary-gradient pt-120 pb-120 otherserv progcard">
        <div class="container d-flex align-items-center">
            <div class="row">
                <div class="col-12 mb-4">
                    <h2 class="item-title text-center">Our Programs</h2>
                </div>

                @foreach (var program in Model.Where(x => x.Id != 4))
                {
                    <div class="col-md-4">
                        <div class="pro-card p-4">
                            <div class="event-title mb-2">
                                @program.Name
                            </div>

                            <div class="event-description mb-3">
                                @Html.Raw(program.Description)

                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <h3 class="price-tab">Price</h3>
                                </div>
                                <div class="col-md-6">
                                    <p class="price-money">₹ @program.Amount.ToString("#,0")</p>
                                </div>
                            </div>

                            <hr>
                            <div>

                                <div style="padding-top:8px;">
                                    @if (program.Id == 1)
                                    {
                                        <span><b>3 Months</b></span>
                                    }
                                    else
                                    {
                                        if (program.StartDate !=null){
                                            <span><b>@program.StartDate?.ToString("MMM d, yyyy")</b></span>
                                        }
                                        else{
                                            <span>&nbsp;</span>
                                        }
                                    }
                                    @if(program.Id==1){
                                        <a class="btn-process theme-btn" href="/programs/one-one-gut-reset-revolution">Learn more...</a>
                                        
                                    }
                                    else if (program.Id == 2)
                                    {
                                        <a class="btn-process theme-btn" href="/programs/gut-and-glory">Learn more...</a>
                                    }
                                    else if (program.Id == 3)
                                    {
                                        <a class="btn-process theme-btn" href="/programs/gut-intelligence-workshop">Learn more...</a>
                                    }
                                    else
                                    {
                                        <a class="btn-process theme-btn" href="/payment/Index?id=@program.Id">Learn more...</a>
                                    }
                                   
                                </div>

                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </section>
    <section class="fancybox-layout1 bg-overlay bg-overlay-primary-gradient pt-120 pb-120 bg-Image otherserv services-tre services-project">
        <div class="container">
            <div class="row">
                <div class="col-2 col-xl-1">
                    <div class="heading-divider mb-3"></div>
                </div>
                <div class="col-sm-12 col-md-12 col-lg-12 col-xl-8">
                    <div class="heading mb-50 aos-init" data-aos="fade-top">
                        <h3 class="heading-title color-white">Other Services</h3>
                    </div>
                </div>
            </div>
            <div class="row justify-content-end mb-30">
                <div class="col-sm-12 col-md-12 col-lg-8 col-xl-12 aos-init" data-aos="fade-up">
                    <p class="heading-desc color-white mb-20 fw-bold">
                        Our additional services are designed to support
                        your overall health and wellness
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6 col-d-4 col-lg-6 col-md-12" id="houroperation">
                    <div class="fancybox-item weekbx box-ser aos-init" data-aos="fade-up" style="height:100%;">
                        <div class="fancybox-body d-flex">
                            <div class="icon zoom-in-zoom-out">
                                <img alt="nutritionist" loading="lazy" width="0"
                                     height="0" decoding="async" data-nimg="1" sizes="100vw"
                                     src="~/Assets/jjjytq.png"
                                     style="color: transparent; width: auto; height: auto;">
                            </div>
                            <div class="weeklist">
                                <h4 class="fancybox-title">Nutrition Consultation</h4>
                                <p class="box-text">
                                    Maintaining a well-balanced diet is crucial for health. Our
                                    registered dietitian provides personalized consultations to help you achieve your
                                    health goals with practical meal plans tailored to your lifestyle.
                                </p>
                            </div>
                        </div>
                        <div class="call-to-action-btn  nut-btn" style="margin-top:69px;">
                            <a href="https://wa.me/9779994422" target="_blank"
                               class="item-btn-phone btn-blue theme-btn"><span>Book Now</span></a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-d-4 col-lg-6 col-md-12" id="houroperation">
                    <div class="fancybox-item weekbx box-ser aos-init" data-aos="fade-up" style="height:100%;">
                        <div class="fancybox-body  d-flex">
                            <div class="icon zoom-in-zoom-out">
                                <img alt="pulmonology" loading="lazy" width="0"
                                     height="0" decoding="async" data-nimg="1" sizes="100vw"
                                     src="~/Assets/mission1.png"
                                     style="color: transparent; width: auto; height: auto;">
                            </div>
                            <div class="weeklist">
                                @if (selectedProgram != null)
                                {
                                    <h4 class="fancybox-title">
                                        @selectedProgram.Name
                                    </h4>
                                    <p class="box-text">
                                        @Html.Raw(selectedProgram.Description)
                                    </p>
                                }
                            </div>
                        </div>
                        <div class="call-to-action-btn  nut-btn">
                            <a href="~/payment/Index?id=@selectedProgram.Id"
                               class="item-btn-phone btn-blue theme-btn" target="_blank"><span>Book Now </span></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="about-area pt-100 pb-100" id="aboutus">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-xl-6 col-lg-6">
                    <div class="about-left pos-rel mb-30 aos-init" data-aos="fade-up">
                        <div class="about-author d-flex align-items-center">
                            <div class="about-author-Image">
                                <img alt="aboutus" loading="lazy" width="0" height="0"
                                     decoding="async" data-nimg="1" sizes="100vw"
                                     src="~/Assets/IMG_9684.jpg"
                                     style="color: transparent; width: auto; height: auto;">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-6 col-lg-6">
                    <div class="about-right pt-15 mb-30 aos-init" data-aos="fade-right">
                        <div class="section-title-2 mb-20">
                            <h2>Why Choose Gut Cleanse?</h2>
                        </div>
                        <div class="about-text pr-5">
                            <p>
                                Living with digestive discomfort impacts every aspect of your life. Symptoms like
                                bloating, gas, and indigestion can be overwhelming. At Gut Cleanse, we delve into the
                                root causes of these issues and offer practical, natural solutions tailored to your
                                lifestyle.
                            </p>
                            <ul class="list-item">
                                <li>
                                    <h4>
                                        <span class="">
                                            <img alt="arrow" loading="lazy" width="0" height="0"
                                                 decoding="async" data-nimg="1" class="fa-spin" sizes="100vw"
                                                 src="~/Assets/dna.png"
                                                 style="color: transparent; width: auto; height: auto;">
                                        </span>
                                        Comprehensive Care: Addressing the root causes of digestive issues.
                                    </h4>
                                </li>
                                <li>
                                    <h4>
                                        <span class="">
                                            <img alt="arrow" loading="lazy" width="0" height="0"
                                                 decoding="async" data-nimg="1" class="fa-spin" sizes="100vw"
                                                 src="~/Assets/dna.png"
                                                 style="color: transparent; width: auto; height: auto;">
                                        </span>
                                        Experienced Experts: A dedicated team specializing in digestive wellness.
                                    </h4>
                                </li>
                                <li>
                                    <h4>
                                        <span class="">
                                            <img alt="arrow" loading="lazy" width="0" height="0"
                                                 decoding="async" data-nimg="1" class="fa-spin" sizes="100vw"
                                                 src="~/Assets/dna.png"
                                                 style="color: transparent; width: auto; height: auto;">
                                        </span> Holistic
                                        Solutions: Combining modern science with time-tested healing traditions.
                                    </h4>
                                </li>
                                <li>
                                    <h4>
                                        <span class="">
                                            <img alt="arrow" loading="lazy" width="0" height="0"
                                                 decoding="async" data-nimg="1" class="fa-spin" sizes="100vw"
                                                 src="~/Assets/dna.png"
                                                 style="color: transparent; width: auto; height: auto;">
                                        </span> Proven
                                        Results: Over 1,200+ lives transformed across 21+ countries.
                                    </h4>
                                </li>
                                <li>
                                    <h4>
                                        <span class="">
                                            <img alt="arrow" loading="lazy" width="0" height="0"
                                                 decoding="async" data-nimg="1" class="fa-spin" sizes="100vw"
                                                 src="~/Assets/dna.png"
                                                 style="color: transparent; width: auto; height: auto;">
                                        </span> Client
                                        Satisfaction: 99.3%+ satisfaction rate.
                                    </h4>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="call-to-action-wrap-layout4">
        <div class="item-Image"></div>
        <div class="container">
            <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-12">
                    <div class="call-to-action-box-layout4 aos-init" data-aos="zoom-in">
                        <h2 class="item-title">
                            Explore Our Natural Gut Cleanse Programs and Improve Your Digestive
                            Health! Begin your journey to optimal digestive wellness
                        </h2>
                        <div class="call-to-action-btn">
                            <a class="btn-red theme-btn" href="/programs">
                                <span>
                                    OUR
                                    PROGRAMS
                                </span>
                            </a><span class="or">&nbsp; &nbsp;or&nbsp;&nbsp;</span> <a href="https://wa.me/9779994422" target="_blank"
                                                                                       class="item-btn-phone btn-blue theme-btn"><span>Call: 9779994422 </span></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
