@model Gut_Cleanse.Model.PaymentModel

<!-- // Click this button automatically when this page load using javascript -->
<!-- You can hide this button -->
<button id="rzp-button1" hidden>Pay</button>
<script>
    var options = {
        "key": "@Html.DisplayFor(model => model.RazorPayKeyId)", // Enter the Key ID generated from the Dashboard
        "amount": "@Html.DisplayFor(model => model.Amount)", // Amount is in currency subunits. Default currency is INR. Hence, 50000 refers to 50000 paise
        "currency": "@Html.DisplayFor(model => model.Currency)",
        "name": "@Html.DisplayFor(model => model.Name)",
        "description": "@Html.DisplayFor(model => model.Description)",
        "image": '@Url.Content("~/Assets/logo_black.png")', // You can give your logo url
        "order_id": "@Html.DisplayFor(model => model.OrderId)",
        "handler": function (response){
            // After payment successfully made response will come here
            // Set the data in hidden form
            document.getElementById('rzp_paymentid').value = response.razorpay_payment_id;
            document.getElementById('rzp_orderid').value = response.razorpay_order_id;

            // // Let's submit the form automatically
            document.getElementById('rzp-paymentresponse').click();
        },
        "prefill": {
            "name": "@Html.DisplayFor(model => model.Name)",
            "email": "@Html.DisplayFor(model => model.Email)",
            "contact": "@Html.DisplayFor(model => model.ContactNumber)"
        },
        "notes": {
            "address": "@Html.DisplayFor(model => model.Address)"
        },
        "theme": {
            "color": "#F37254"
        }
    };
    var rzp1 = new Razorpay(options);

    //<!-- onload function -->

    document.getElementById('rzp-button1').onclick = function(e){
        rzp1.open();
        e.preventDefault();
    }
</script>

<!-- This form is hidden, and submit when payment successfully made -->
@using (Html.BeginForm("Complete", "Payment", FormMethod.Post, new { @Id = "PaymentCompleteForm" }))
{
    @Html.AntiForgeryToken()

    @Html.Hidden("rzp_paymentid")
    @Html.Hidden("rzp_orderid")
    <button type="submit" id="rzp-paymentresponse" class="btn btn-primary" hidden>Submit</button>
}

<script>
    $('#PaymentCompleteForm').on('submit', function (event) {
                   event.preventDefault();
                   $.ajax({
                       url: "/Payment/Complete",
                       type: "POST",
                       dataType: 'json',
                       data: $(this).serialize(), // Serialize form data
                       success: function (response) {
                           debugger;
                           $('#partialViewContainer').html('');
                           if(response.success){
                               toastr.success(response.message);
                                  $('#Email').val('');
                                $('#ContactNumber').val('');

                           }else{
                               toastr.error(response.message);
                           }
                       },
                       error: function () {
                          toastr.error("Oops! something went wrong");
                       }
                   });
               });
</script>